{
  "swagger": "2.0",
  "info": {
    "description": "RESTful API to query data about Bangladesh's Zilas and Upazilla. Project Lead: Azmain Amin. Developers: Mahbuba Tasmin, Nirob Nabil, Shanzid Shaiham",
    "version": "1.0.0",
    "title": "Tothyo Bangladesh",
    "termsOfService": "http://swagger.io/terms/",
    "contact": {
      "email": "thersquaredproject@gmail.com"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "host": "tothyobd.rsquaredproject.org",
  "basePath": "/api",
  "tags": [
    {
      "name": "Zila",
      "description": "Data about Bangladesh's Zilas"
    },
    {
      "name": "Upazila",
      "description": "Data about Bangladesh's Upazilas"
    }
  ],
  "schemes": [
    "https",
    "http"
  ],
  "paths": {
    "/zila": {
      "get": {
        "tags": [
          "Zila"
        ],
        "summary": "Get data for all zilas",
        "description": "Multiple status values can be provided with comma separated strings",
        "operationId": "getAllZilas",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Zila"
              }
            }
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/zila/{zilaName}": {
      "get": {
        "tags": [
          "Zila"
        ],
        "summary": "Find zila data by zila name",
        "description": "Returns a single zila",
        "operationId": "getZilaInfoByName",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "zilaName",
            "in": "path",
            "description": "Name of Zila",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Zila"
            }
          },
          "404": {
            "description": "Zila not found"
          }
        }
      },
      "/upazila": {
        "get": {
          "tags": [
            "Upazila"
          ],
          "summary": "Get data for all upazilas",
          "description": "Multiple status values can be provided with comma separated strings",
          "operationId": "getAllUpaZilas",
          "produces": [
            "application/json"
          ],
          "responses": {
            "200": {
              "description": "successful operation",
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/definitions/Upazila"
                }
              }
            },
            "404": {
              "description": "Not found"
            }
          }
        }
      }
    },
    "/upazila/{upazilaName}": {
      "get": {
        "tags": [
          "Upazila"
        ],
        "summary": "Find upazila data by upazila name",
        "description": "Returns a single zila",
        "operationId": "getUpazilaInfoByName",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "upazilaName",
            "in": "path",
            "description": "Name of Upazila",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Upazila"
            }
          },
          "404": {
            "description": "Upazila not found"
          }
        }
      }
    }
  },
  "definitions": {
    "Zila": {
      "type": "object",
      "properties": {
        "_id": {
          "type": "integer",
          "format": "int64"
        },
        "attendance_data": {
          "type": "object",
          "properties": {
            "school_attendance_of_6_to_10": {
              "type": "object",
              "properties": {
                "national_avg": {
                  "type": "number"
                },
                "number": {
                  "type": "number"
                },
                "percentage": {
                  "type": "number"
                },
                "rank": {
                  "type": "string"
                }
              }
            },
            "school_attendance_of_6_to_18": {
              "type": "object",
              "properties": {
                "national_avg": {
                  "type": "number"
                },
                "number": {
                  "type": "number"
                },
                "percentage": {
                  "type": "number"
                },
                "rank": {
                  "type": "string"
                }
              }
            },
            "school_attendance_of_11_to_13": {
              "type": "object",
              "properties": {
                "national_avg": {
                  "type": "number"
                },
                "number": {
                  "type": "number"
                },
                "percentage": {
                  "type": "number"
                },
                "rank": {
                  "type": "string"
                }
              }
            },
            "school_attendance_of_14_to_15": {
              "type": "object",
              "properties": {
                "national_avg": {
                  "type": "number"
                },
                "number": {
                  "type": "number"
                },
                "percentage": {
                  "type": "number"
                },
                "rank": {
                  "type": "string"
                }
              }
            }
          }
        },
        "child_health_data": {
          "type": "object",
          "properties": {
            "severely_stunted_children": {
              "type": "object",
              "properties": {
                "national_average": {
                  "type": "number"
                },
                "number": {
                  "type": "number"
                },
                "percentage": {
                  "type": "number"
                },
                "rank": {
                  "type": "string"
                }
              }
            },
            "severely_underweight_children": {
              "type": "object",
              "properties": {
                "national_average": {
                  "type": "number"
                },
                "number": {
                  "type": "number"
                },
                "percentage": {
                  "type": "number"
                },
                "rank": {
                  "type": "string"
                }
              }
            },
            "stunted_children": {
              "type": "object",
              "properties": {
                "national_average": {
                  "type": "number"
                },
                "number": {
                  "type": "number"
                },
                "percentage": {
                  "type": "number"
                },
                "rank": {
                  "type": "string"
                }
              }
            },
            "underweight_children": {
              "type": "object",
              "properties": {
                "national_average": {
                  "type": "number"
                },
                "number": {
                  "type": "number"
                },
                "percentage": {
                  "type": "number"
                },
                "rank": {
                  "type": "string"
                }
              }
            }
          }
        },
        "employment_data": {
          "type": "object",
          "properties": {
            "agriculture_employment_info": {
              "type": "object",
              "properties": {
                "national_avg": {
                  "type": "number"
                },
                "number": {
                  "type": "number"
                },
                "percentage": {
                  "type": "number"
                },
                "rank": {
                  "type": "string"
                }
              }
            },
            "industry_employment_info": {
              "type": "object",
              "properties": {
                "national_avg": {
                  "type": "number"
                },
                "number": {
                  "type": "number"
                },
                "percentage": {
                  "type": "number"
                },
                "rank": {
                  "type": "string"
                }
              }
            },
            "service_holders": {
              "type": "object",
              "properties": {
                "national_average": {
                  "type": "number"
                },
                "number": {
                  "type": "number"
                },
                "percentage": {
                  "type": "number"
                },
                "rank": {
                  "type": "string"
                }
              }
            }
          }
        },
        "household_info": {
          "type": "object",
          "properties": {
            "electricity": {
              "type": "object",
              "properties": {
                "national_average": {
                  "type": "number"
                },
                "number": {
                  "type": "number"
                },
                "percentage": {
                  "type": "number"
                },
                "rank": {
                  "type": "string"
                }
              }
            },
            "number_of_household": {
              "type": "number"
            },
            "water": {
              "type": "object",
              "properties": {
                "tapwater": {
                  "type": "object",
                  "properties": {
                    "national_average": {
                      "type": "number"
                    },
                    "number": {
                      "type": "number"
                    },
                    "percentage": {
                      "type": "number"
                    },
                    "rank": {
                      "type": "string"
                    }
                  }
                },
                "tubewell_water": {
                  "type": "object",
                  "properties": {
                    "national_average": {
                      "type": "number"
                    },
                    "number": {
                      "type": "number"
                    },
                    "percentage": {
                      "type": "number"
                    },
                    "rank": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "literate_data": {
          "type": "object",
          "properties": {
            "average_data": {
              "type": "object",
              "properties": {
                "national_average": {
                  "type": "number"
                },
                "number": {
                  "type": "number"
                },
                "percentage": {
                  "type": "number"
                },
                "rank": {
                  "type": "string"
                }
              }
            },
            "less_than_primary_education": {
              "type": "object",
              "properties": {
                "national_average": {
                  "type": "number"
                },
                "number": {
                  "type": "number"
                },
                "percentage": {
                  "type": "number"
                },
                "rank": {
                  "type": "string"
                }
              }
            },
            "primary_education": {
              "type": "object",
              "properties": {
                "national_average": {
                  "type": "number"
                },
                "number": {
                  "type": "number"
                },
                "percentage": {
                  "type": "number"
                },
                "rank": {
                  "type": "string"
                }
              }
            },
            "secondary_education": {
              "type": "object",
              "properties": {
                "national_average": {
                  "type": "number"
                },
                "number": {
                  "type": "number"
                },
                "percentage": {
                  "type": "number"
                },
                "rank": {
                  "type": "string"
                }
              }
            },
            "university_education": {
              "type": "object",
              "properties": {
                "national_average": {
                  "type": "number"
                },
                "number": {
                  "type": "number"
                },
                "percentage": {
                  "type": "number"
                },
                "rank": {
                  "type": "string"
                }
              }
            }
          }
        },
        "location_data": {
          "type": "object",
          "properties": {
            "area": {
              "type": "number"
            },
            "disgeocode": {
              "type": "number"
            },
            "division": {
              "type": "string"
            },
            "length": {
              "type": "number"
            },
            "zila": {
              "type": "string"
            }
          }
        },
        "population_data": {
          "type": "object",
          "properties": {
            "above_65_years": {
              "type": "object",
              "properties": {
                "national_average": {
                  "type": "number"
                },
                "number": {
                  "type": "number"
                },
                "percentage": {
                  "type": "number"
                },
                "rank": {
                  "type": "string"
                }
              }
            },
            "between_0_6_years": {
              "type": "object",
              "properties": {
                "national_average": {
                  "type": "number"
                },
                "number": {
                  "type": "number"
                },
                "percentage": {
                  "type": "number"
                },
                "rank": {
                  "type": "string"
                }
              }
            },
            "between_15_64_years": {
              "type": "object",
              "properties": {
                "national_average": {
                  "type": "number"
                },
                "number": {
                  "type": "number"
                },
                "percentage": {
                  "type": "number"
                },
                "rank": {
                  "type": "string"
                }
              }
            },
            "between_7_14_years": {
              "type": "object",
              "properties": {
                "national_average": {
                  "type": "number"
                },
                "number": {
                  "type": "number"
                },
                "percentage": {
                  "type": "number"
                },
                "rank": {
                  "type": "string"
                }
              }
            },
            "bottom_population": {
              "type": "object",
              "properties": {
                "national_average": {
                  "type": "number"
                },
                "number": {
                  "type": "number"
                },
                "percentage": {
                  "type": "number"
                },
                "rank": {
                  "type": "string"
                }
              }
            },
            "summary": {
              "type": "object",
              "properties": {
                "rural": {
                  "type": "number"
                },
                "total": {
                  "type": "number"
                },
                "working": {
                  "type": "number"
                }
              }
            }
          }
        },
        "poverty_data": {
          "type": "object",
          "properties": {
            "extreme_proverty_data": {
              "type": "object",
              "properties": {
                "national_average": {
                  "type": "number"
                },
                "number": {
                  "type": "number"
                },
                "percentage": {
                  "type": "number"
                },
                "rank": {
                  "type": "string"
                }
              }
            },
            "poverty": {
              "type": "object",
              "properties": {
                "national_average": {
                  "type": "number"
                },
                "number": {
                  "type": "number"
                },
                "percentage": {
                  "type": "number"
                },
                "rank": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "xml": {
        "name": "Zila"
      }
    },
    "Upazila": {
      "type": "object",
      "properties": {
        "_id": {
          "type": "integer",
          "format": "int64"
        },
        "attendance_data": {
          "$ref": "#/definitions/Zila/properties/attendance_data"
        },
        "child_health_data": {
          "$ref": "#/definitions/Zila/properties/child_health_data"
        },
        "employment_data": {
          "$ref": "#/definitions/Zila/properties/employment_data"
        },
        "household_info": {
          "$ref": "#/definitions/Zila/properties/household_info"
        },
        "literate_data": {
          "$ref": "#/definitions/Zila/properties/literate_data"
        },
        "location_data": {
          "type": "object",
          "properties": {
            "divison": {
              "type": "string"
            },
            "upazila": {
              "type": "string"
            },
            "zila": {
              "type": "string"
            }
          }
        },
        "population_data": {
          "$ref": "#/definitions/Zila/properties/population_data"
        },
        "poverty_data": {
          "$ref": "#/definitions/Zila/properties/poverty_data"
        }
      },
      "xml": {
        "name": "Upazila"
      }
    }
  }
}